In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Heart_Disease_Prediction.csv")

In [4]:
df.isnull()
#there is no null data in the csv file

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,False,False,False,False,False,False,False,False,False,False,False,False,False,False
266,False,False,False,False,False,False,False,False,False,False,False,False,False,False
267,False,False,False,False,False,False,False,False,False,False,False,False,False,False
268,False,False,False,False,False,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
df.isnull().sum()
#there are zero missing values as we can see

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [8]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
265    False
266    False
267    False
268    False
269    False
Length: 270, dtype: bool

In [9]:
df.dtypes

Age                          int64
Sex                          int64
Chest pain type              int64
BP                           int64
Cholesterol                  int64
FBS over 120                 int64
EKG results                  int64
Max HR                       int64
Exercise angina              int64
ST depression              float64
Slope of ST                  int64
Number of vessels fluro      int64
Thallium                     int64
Heart Disease               object
dtype: object

In [10]:
#this data is cleaned so we can reshape it

In [12]:
df.sort_values("Age")
df.sort_values(["Age", "Cholesterol"])

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
214,29,1,2,130,204,0,2,202,0,0.0,1,0,3,Absence
174,34,1,1,118,182,0,2,174,0,0.0,1,0,3,Absence
138,34,0,2,118,210,0,0,192,0,0.7,1,0,3,Absence
224,35,0,4,138,183,0,0,182,0,1.4,1,0,3,Absence
81,35,1,4,120,198,0,0,130,1,1.6,2,0,7,Presence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,71,0,3,110,265,1,2,130,0,0.0,1,1,3,Absence
255,71,0,2,160,302,0,0,162,0,0.4,1,2,3,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
73,76,0,3,140,197,0,1,116,0,1.1,2,0,3,Absence
199,77,1,4,125,304,0,2,162,1,0.0,1,3,3,Presence